body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-container {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.slideshow-container {
    position: relative;
    max-width: 800px; /* Adjust this to your desired width */
    overflow: hidden;
}

.slide-wrapper {
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    margin: 0 5px;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
